# coding
black
flake8
pylint
typing-extensions
# deploying
setuptools_scm
# testing
pytest
# compute libraries
pillow
jax
flax
rlax
chex
# experiments
tyro
pyyaml
# logging
wandb
# plotting
matplotlib